[submodule "code/code/Building"]
	path = code/code/Building
	url = git@github.com:snyk/goof.git
[submodule "code/getting-started-with-containers-and-kubernetes"]
	path = code/getting-started-with-containers-and-kubernetes
	url = git@github.com:do-community/k8s-intro-meetup-kit.git
